build-devicemonitoringserver*
devicemonitoringserver/*.user
devicemonitoringserver/build_debug
CMakeFiles
devicemonitoringserver/cmake_install.cmake
devicemonitoringserver/CMakeCache.txt
devicemonitoringserver/devicemonitoringserver
devicemonitoringserver/Makefile
.vscode
.gitignore
